<li *ngIf="user && user.picture" class="nav-item dropdown user-menu">
  <a class="nav-link dropdown-toggle" data-html="true" data-toggle="dropdown" (click)="toggleDropdownMenu()">
    <img [src]="user.picture" class="user-image img-circle" alt="User Image" style="height: 2.2rem; width: 2.2rem;" />
    <span class="p-2">
      <i class="fas fa-caret-down"></i>
    </span>
  </a>
  <ul #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <!-- User image -->
    <li class="user-header bg-primary">
      <img [src]="user.picture" class="bg-white img-circle elevation-2" alt="User Image" />

      <p>
        {{ user.username }}
        <small>Role: user</small>
      </p>
    </li>
    <!-- Menu Body -->
    <!-- <li class="user-body">
      <div class="row">
        <div class="col-4 text-center">
          <a href="#">Followers</a>
        </div>
        <div class="col-4 text-center">
          <a href="#">Sales</a>
        </div>
        <div class="col-4 text-center">
          <a href="#">Friends</a>
        </div>
      </div>
    </li> -->
    <!-- Menu Footer-->
    <li class="user-footer">
      <a class="btn btn-default btn-flat" (click)="openProfile()">
        Profile
      </a>
      <a (click)="logout()" class="btn btn-default btn-flat float-right">Sign out</a>
    </li>
  </ul>
</li>
