<app-loader [enabled]="!workflow || !suites"></app-loader>

<div *ngIf="workflow && suites" class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"></h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right mr-lg-4 mr-md-2">
          <li class="breadcrumb-item">
            <a [routerLink]="['/dashboard']"><i class="fas fa-home p-1"></i>Home</a>
          </li>
          <li class="breadcrumb-item active">
            <i class="fas fa-cogs p-1"></i>Workflow
          </li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- /.workflow header -->
    <workflow-header [workflow]="workflow"></workflow-header>
    <!-- /.workflow header -->

  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section *ngIf="workflow && suites" class="content mx-lg-4 p-2">
  <!-- <div class="container-fluid"> -->
  <div *ngIf="workflow && workflow.suites" style="margin-top: 50px">    
    <h3 style="color: var(--primary)">
      <span *ngIf="!suiteNameFilter" data-toggle="tooltip" data-placement="right" data-html="true"
        title="The dashboard collects test suites for the workflow '{{workflow.name}}'">
        Suites
      </span>
      <div *ngIf="suiteNameFilter">
        <ng-container #searchResults>
          <ng-container
            *ngIf="((suites | itemFilterPipe: suiteNameFilter).length == 0); then noMatchingSuite; else foundSuites">
          </ng-container>
        </ng-container>
        <ng-template #noMatchingSuite>
          No Suite matching "{{suiteNameFilter}}"
        </ng-template>
        <ng-template #foundSuites>
          <ng-container *ngIf="suiteNameFilter == '______ALL_____'; then allSuites; else matchingSuites;">
          </ng-container>
          <ng-template #allSuites>Suites</ng-template>
          <ng-template #matchingSuites>Suites matching "{{suiteNameFilter}}"</ng-template>
        </ng-template>
      </div>
    </h3>

    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-primary" (click)="filterByStatus('all_passing')" data-toggle="tooltip"
          data-placement="bottom" data-html="true"
          title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to filter <b>passing</b> suites</span>">
          <div *ngIf="!workflow.suites" class="overlay dark">
            <i class="fas fa-3x fa-sync-alt"></i>
          </div>
          <div *ngIf="suites && statusFilter && statusFilter != 'all_passing'" class="overlay dark"></div>
          <div class="inner">
            <h3>
              {{ workflow.suites ? workflow.suites.all_passing.length : 0 }}
            </h3>
            <p>Passing</p>
          </div>
          <div class="icon">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="small-box-footer" style="height: 22px">
            <div style="display: inline-block; padding: 0"></div>
            <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning" (click)="filterByStatus('some_passing')" data-toggle="tooltip"
          data-placement="bottom" data-html="true"
          title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to filter partially <b>passing</b> suites</span>">
          <div *ngIf="!workflow.suites" class="overlay dark">
            <i class="fas fa-3x fa-sync-alt"></i>
          </div>
          <div *ngIf="suites && statusFilter && statusFilter != 'some_passing'" class="overlay dark"></div>
          <div class="inner">
            <h3>
              {{ workflow.suites ? workflow.suites.some_passing.length : 0 }}
            </h3>

            <p>Some passing</p>
          </div>
          <div class="icon">
            <i class="fas fa-radiation"></i>
          </div>
          <div class="small-box-footer" style="height: 22px">
            <div style="display: inline-block; padding: 0"></div>
            <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger" (click)="filterByStatus('all_failing')" data-toggle="tooltip"
          data-placement="bottom" data-html="true"
          title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to filter <b>failing</b> suites</span>">
          <div *ngIf="!workflow.suites" class="overlay dark">
            <i class="fas fa-3x fa-sync-alt"></i>
          </div>
          <div *ngIf="suites && statusFilter && statusFilter != 'all_failing'" class="overlay dark"></div>
          <div class="inner">
            <h3>
              {{ workflow.suites ? workflow.suites.all_failing.length : 0 }}
            </h3>
            <p>Failing</p>
          </div>
          <div class="icon">
            <i class="fa fa-thumbs-down"></i>
          </div>
          <div class="small-box-footer" style="height: 22px">
            <div style="display: inline-block; padding: 0"></div>
            <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
          </div>
        </div>
      </div>
      <!-- ./col -->

      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gray" (click)="filterByStatus('unknown')" data-html="true" data-toggle="tooltip"
          data-placement="bottom"
          title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to filter suites in <b>unknown</b> state</span>">
          <div *ngIf="!workflow.suites" class="overlay dark">
            <i class="fas fa-3x fa-sync-alt"></i>
          </div>
          <div *ngIf="suites && statusFilter && statusFilter != 'unknown'" class="overlay dark"></div>
          <div class="inner">
            <h3>{{ workflow.suites ? workflow.suites.unknown.length : 0 }}</h3>
            <p>Unavailable</p>
          </div>
          <div class="icon">
            <i class="fa fa-question-circle"></i>
          </div>
          <div class="small-box-footer" style="height: 22px">
            <div style="display: inline-block; padding: 0"></div>
            <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
          </div>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
  </div>

  <!-- Search Bar -->
  <item-search-bar elementType="suites"
        [(filterValue)]="suiteNameFilter"
        [(sortingOrder)]="suiteSortingOrder"></item-search-bar>

  <test-suites [suites]="
      suites
        | itemFilterPipe: suiteNameFilter
        | sortingFilter: suiteSortingOrder
    "></test-suites>
</section>
