<div class="row" style="color: var(--primary)">
  <a [routerLink]="['/dashboard']">
    <i class="fas fa-caret-left" style="margin: 0px 2px 0 15px"></i> workflow list
  </a>
</div>

<div class="card card-primary card-outline">
  <div *ngIf="!suites" class="overlay dark">
    <i class="fas fa-3x fa-sync-alt"></i>
  </div>
  <div class="card-body box-profile">
    <!-- /.card-header -->
    <div class="card-body mt-4 p-0">
      <table id="workflowSuites" class="table table-striped" #workflowSuites>
        <thead>
          <tr>
            <th style="width: 10px" scope="col"></th>
            <th class="">Test Suites</th>
            <th class="text-center" scope="col">Engine</th>
            <th class="text-center" scope="col" style="width: 100px">
              Instances
            </th>
            <th class="text-center" scope="col" style="width: 300px;">Latest Builds</th>
          </tr>
        </thead>
        <tbody *ngIf="suites">
          <tr *ngFor="let s of suites; index as i; first as isFirst">
            <td [ngClass]="s.class">
              <i class="{{ s.statusIcon }} fa-2x" style="margin-top: 45px;"></i>
            </td>
            <td class="align-middle">
              <div class="font-weight-light text-lg" data-html="true" data-toggle="tooltip" data-placement="top"
                title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to see <b>instances</b> <i class='fas fa-external-link-alt mx-1'></i></span>">
                <a [routerLink]="['/suite', { s: s.asUrlParam() }]" style="color: black; font-size: larger">{{
                  s.roc_suite
                  }}</a>
                <div class="text-sm"><b>uuid:</b> {{ s.uuid }}</div>
              </div>

            </td>
            <td class="text-center align-middle font-weight-light h-100">
              <div style="height: 100%; margin: auto" data-html="true" data-toggle="tooltip" data-placement="top"
                title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i><b>{{s.engineType}}</b> engine</span>">
                <img *ngIf="s.engineIcon" src="{{ s.engineIcon }}" width="100" />
                <i *ngIf="!s.engineIcon" class="far fa-question-circle fa-2x text-muted mr-3"></i>
              </div>
            </td>
            <td class="text-center align-middle font-weight-light h-100">
              <a [routerLink]="['/suite', { s: s.asUrlParam() }]">
                <stats-pie-chart [stats]="s.instances"></stats-pie-chart>
              </a>
            </td>
            <td class="text-center align-middle font-weight-light" width="300">
              <stats-bar-chart [stats]="s.getLatestBuilds()" (selectedItem)="selectTestBuild($event)"></stats-bar-chart>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!suites || suites.length == 0" class="p-4">&nbsp;</div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
