<div class="row" style="color: var(--primary)">
  <a [routerLink]="['/dashboard']">
    <i class="fas fa-caret-left" style="margin: 0px 2px 0 15px"></i> workflow list
  </a>
</div>


<div *ngIf="suites" class="card">
  <div *ngIf="!suites" class="overlay dark">
    <i class="fas fa-3x fa-sync-alt"></i>
  </div>
  <p-dataView #suitesDataView [value]="suites" [paginator]="true" [rows]="10" layout="list">
    <ng-template pTemplate="header">
      <div class="d-block">
        <div class="text-center text-md-right p-4">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
        <div class="d-flex">
          <div class="d-inline row suite-list-item mt-4" *ngIf="dataView && dataView.layout === 'list'">
            <div class="col-3 col-sm-1 col-lg-1 d-inline-block suite-list-item-header"></div>
            <div class="col-9 col-sm-11 col-md-6 col-lg-5 d-inline-block suite-list-item-header text-left">Workflow
            </div>
            <div class="col-2 col-xl-1 d-none d-lg-inline-block suite-list-item-header">Engine</div>
            <div class="col-2 d-none d-xl-inline-block suite-list-item-header">Test Instances</div>
            <div class="col-5 col-lg-4 col-xl-3 d-none d-md-inline-block suite-list-item-header">Latest Test Builds
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-suite pTemplate="listItem">
      <div class="d-flex">
        <div class="d-inline-flex row suite-list-item">
          <div class="col-3 col-sm-1 col-lg-1 d-inline-block text-center">
            <div class="suite-list-item-status" [ngClass]="suite.class" [pTooltip]="suite.statusText"
              tooltipPosition="top" showDelay="1500">
              <i class="{{ suite.statusIcon }} fa-2x"></i>
            </div>
          </div>
          <div class="col-9 col-sm-11 col-md-6 col-lg-5 d-inline-block">
            <div class="suite-name">
              <input *ngIf="suite.editingMode" type="text" [(ngModel)]="suite.name" autofocus
                class="form-control datatable-input-no-border" aria-describedby="suiteNameInput"
                placeholder="Enter suite name" (keyup.enter)="updateSuite(suite)" (keyup.esc)="restoreSuite(suite)">
              <a *ngIf="!suite.editingMode" (click)="showSuiteDetails(suite)" (dblclick)="enableSuiteEditing(suite)"
                data-html="true" data-toggle="tooltip" tooltipPosition="top" showDelay="1500" pTooltip="<div class='text-xs text-center'><i class='fas fa-question-circle mx-1'></i>click to see <b>instances</b><i class='fas fa-external-link-alt mx-1'></i>
                  {{ isEditable(suite) ? 'or double click to edit' : ''}}</div>">
                {{suite.name}}
              </a>
            </div>
            <div class="suite-uuid text-sm">
              <i class="fas fa-xs fa-solid fa-fingerprint mr-1"></i>
              <b>uuid:</b> {{ suite.uuid }}
            </div>
          </div>
          <div class="col-2 col-xl-1 d-none d-lg-inline-block text-center">
            <!-- <div class="text-sm">engine</div> -->
            <div class="suite-list-item-engine-type">
              <img *ngIf="suite.engineIcon" src="{{ suite.engineIcon }}" />
              <i *ngIf="!suite.engineIcon" class="far fa-question-circle fa-2x text-muted"></i>
            </div>
          </div>
          <div class="col-2 d-none d-xl-inline-block text-center">
            <div class="suite-list-item-instances-chart">
              <a [routerLink]="['/suite', { s: suite.asUrlParam() }]">
                <stats-pie-chart [stats]="suite.instances"></stats-pie-chart>
              </a>
            </div>
          </div>
          <div class="col-5 col-lg-4 col-xl-3 d-none d-md-inline-block">
            <div class="suite-list-item-builds-chart">
              <stats-bar-chart [stats]="suite.getLatestBuilds() | arraySizeFilterPipe: 10"
                (selectedItem)="selectTestBuild($event)"></stats-bar-chart>
            </div>
          </div>

        </div>
      </div>
    </ng-template>
    <ng-template let-suite pTemplate="gridItem">
      <div class="col-lg-4 col-md-6 d-inline-block">
        <div class="suite-grid-item">
          <div class="suite-grid-item-top">
            <div class="suite-grid-item-edit-action" *ngIf="isEditable(suite)">
              <i class="far fa-edit" aria-hidden="true" (click)="enableSuiteEditing(suite)"></i>
            </div>
          </div>
          <div class="suite-grid-item-content">
            <div class="suite-grid-item-status" [ngClass]="suite.class">
              <i class="{{ suite.statusIcon }} fa-2x"></i>
            </div>
            <!-- Suite Name -->
            <div class="suite-name">
              <input *ngIf="suite.editingMode" type="text" [(ngModel)]="suite.name" autofocus
                class="form-control datatable-input-no-border" aria-describedby="suiteNameInput"
                placeholder="Enter suite name" (keyup.enter)="updateSuite(suite)" (keyup.esc)="restoreSuite(suite)">
              <a *ngIf="!suite.editingMode" (click)="showSuiteDetails(suite)" (dblclick)="enableSuiteEditing(suite)"
                data-html="true" data-toggle="tooltip" tooltipPosition="right" pTooltip="<div class='text-xs text-center'><i class='fas fa-question-circle mx-1'></i>click to see <b>instances</b> <i class='fas fa-external-link-alt mx-1'></i>
                    {{ isEditable(suite) ? 'or double click to edit' : ''}}</div>">
                {{suite.name}}
              </a>
            </div>

            <!-- Suite Identifier -->
            <div class="suite-identifier text-sm">
              <i class="fas fa-xs fa-solid fa-fingerprint mr-1"></i>
              <b>uuid:</b> {{ suite.uuid }}
            </div>

            <!-- Engine Type -->
            <div class="suite-grid-item-engine">
              <div class="text-sm">engine</div>
              <div class="suite-grid-item-engine-type">
                <img *ngIf="suite.engineIcon" src="{{ suite.engineIcon }}" />
                <i *ngIf="!suite.engineIcon" class="far fa-question-circle fa-2x text-muted"></i>
              </div>
            </div>

            <!-- <div class="suite-description">{{suite.description}}</div> -->

            <!-- Engine Type -->
            <div class="suite-grid-item-instances">
              <div class="text-smx">Test Instances</div>
              <div class="suite-grid-item-instances-chart">
                <a [routerLink]="['/suite', { s: suite.asUrlParam() }]">
                  <stats-pie-chart [stats]="suite.instances"></stats-pie-chart>
                </a>
              </div>
            </div>

            <!-- Engine Type -->
            <div class="suite-grid-item-builds">
              <div class="text-smx">Latest Test Builds</div>
              <div class="suite-grid-item-builds-chart">
                <stats-bar-chart [stats]="suite.getLatestBuilds() | arraySizeFilterPipe: 10"
                  (selectedItem)="selectTestBuild($event)"></stats-bar-chart>
              </div>
            </div>
          </div>
          <div class="suite-grid-item-bottom">
            <button pButton type="button" iconPos="left" class="p-button-md" label="Details" icon="fa fa-info-circle"
              (click)="showSuiteDetails(suite)"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
