.input-group-prepend > .input-group-text {
  background-color: transparent;
  border: none;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 98%;
  white-space: nowrap;
}

.icon-wrapper {
  display: inline-block;
  width: 17px;
  text-align: center;
}
