<div *ngIf="enabled" class="row">
  <div id="loader" [ngStyle]="{ 'margin-top': marginTop + 'px' }">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="loading">
      <div *ngIf="loadingText" class="spinner-message text-primary font-weight-light">
        <b [outerHTML]="loadingText"></b>
      </div>
      <div *ngIf="loadingProgress" class="spinner-message text-primary">{{ loadingProgress }}%</div>
    </div>
  </div>
</div>
