<a *ngIf="availableForDownload === true" [routerLink]="" (click)="downloadROCrate()" class="hvr-float-shadow"
  data-toggle="tooltip" data-placement="left"
  title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i>click to download workflow <b>RO-Crate </b></span>">
  <img src="/assets/img/logo/crates/ro-crate-workflow.svg" height="50" />
  <div style="margin-left: 60px; font-size: 0.9rem;">
    <span>Download</span>
    <i class="fas fa-cloud-download-alt m-1"></i>
  </div>
</a>

<div *ngIf="availableForDownload === false" class="text-muted text-center disabled" data-toggle="tooltip"
  data-placement="left" title="Download not available" style="min-width: 175px; max-width: 175px;">
  <img src="/assets/img/logo/crates/ro-crate-workflow.svg" height="50"
    style="filter: brightness(1) sepia(0) hue-rotate(10deg) saturate(0)" />
  <div class="text-right" style="font-size: 0.9rem;">
    <span>Download unavailable</span>
    <i class="fas fa-md fa-ban mx-1"></i>
  </div>
</div>
