<div *ngIf="!stats" style="display: flex; align-items: center; width: 300px; height: 120px">
  <div class="text-center w-100">
    <i class="fas fa-2x fa-sync-alt text-muted"></i>
  </div>
</div>
<div *ngIf="stats && stats.length == 0" style="display: flex; align-items: center; width: 300px; height: 120px">
  <div class="text-center w-100">
    <i class="fas fa-2x fa-ban text-muted"></i>
  </div>
</div>
<div *ngIf="stats && stats.length>0" class="wrapper text-center">
  <div></div>
  <p-chart type="bar" [data]="basicData" [options]="basicOptions" width="250"
    (onDataSelect)="chartClicked($event)"></p-chart>
</div>
