<div *ngIf="!stats" class="loading">
  <div class="text-center">
    <i class="fas fa-2x fa-sync-alt text-muted"></i>
  </div>
</div>
<div *ngIf="stats && stats.length == 0" class="loading">
  <div class="text-center">
    <i class="fas fa-2x fa-ban text-muted"></i>
  </div>
</div>
<div *ngIf="stats && stats.length>0" class="wrapper text-center">
  <p-chart type="bar" [data]="basicData" [options]="basicOptions" [width]="chartWidth" [height]="chartHeight"
    (onDataSelect)="chartClicked($event)"></p-chart>
</div>
