<div
  [ngClass]="
    enableBrowseButton ? 'input-group mt-4 mb-5 p-md-4' : 'input-group mt-4 mb-5 p-md-4'
  "
>
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fas fa-angle-right"></i></span>
  </div>
  <input
    #searchInputText
    (keyup.enter)="onKeyUpEnter()"
    type="text"
    [(ngModel)]="actualFilterValue"
    class="form-control font-weight-light border-right-0"
    stule="border-color: gray"
    placeholder="Search for {{ elementType }}"
    aria-label="search"
    aria-describedby="basic-addon1"
    data-toggle="tooltip"
    data-placement="bottom"
    data-html="true"
    [title]="'search ' + elementType + ' by UUID or Name'"
  />

  <div class="input-group-append">
    <button
      *ngIf="actualFilterValue"
      class="btn btn-outline-secondary border-left-0 border-right-0 border-left-0 bg-white"
      style="border-color: #ced4da"
      type="button"
      (click)="reset()"
      aria-haspopup="true"
      aria-expanded="false"
      data-toggle="tooltip"
      data-placement="top"
      data-html="true"
      title="Clear search for {{ elementType }}"
    >
      <i class="fas fa-window-close"></i>
    </button>
    <!-- <button class="btn btn-outline-secondary border-left-0" type="button" (click)="changeSortingOrder()"
      aria-haspopup="true" aria-expanded="false">
      <i *ngIf="actualSortingOrder == 'asc'" class="fas fa-sort-amount-up"
         data-toggle="tooltip" data-placement="top" data-html="true"
         title="Sort {{elementType}} in ascending order"></i>
      <i *ngIf="actualSortingOrder == 'desc'" class="fas fa-sort-amount-down"
         data-toggle="tooltip" data-placement="top" data-html="true"
         title="Sort {{elementType}} in descending order"></i>
    </button> -->
    <!-- <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-sort-amount-up"></i> Filter
    </button> -->
    <!-- <div class="dropdown-menu">
      <a class="dropdown-item">Name</a>
      <a class="dropdown-item">UUID</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div> -->
  </div>
  <button
    #searchButton
    [disabled]="!allowEmptySearch && !actualFilterValue"
    class="btn btn-primary"
    data-toggle="tooltip"
    data-placement="bottom"
    data-html="true"
    [title]="
      actualFilterValue
        ? 'search ' + elementType + ' by UUID or name'
        : 'browse registered ' + elementType
    "
    [title]="'search ' + elementType + ' by UUID or name'"
    (click)="onKeyUpEnter()"
  >
    <i class="fas fa-search mx-2"></i>
    <span class="d-none d-md-inline-flex">{{
      actualFilterValue ? 'Search' : searchButtonName
    }}</span>
  </button>

  <div *ngIf="enableBrowseButton" class="ml-2">
    <button
      #browseButton
      type="button"
      class="btn btn-primary"
      [ngClass]="{
        'browse-disabled': !browseButtonEnabled,
        'browse-enabled': browseButtonEnabled
      }"
      [hidden]="!enableBrowseButton"
      style="height: 38px"
      class="btn btn-primary"
      type="button"
      (click)="onBrowseButtonClick($event)"
    >
      <div
        *ngIf="browseButtonEnabled"
        aria-haspopup="true"
        aria-expanded="false"
        data-toggle="tooltip"
        data-placement="top"
        data-html="true"
        title="Go back to the {{ goBackButtonName }}"
      >
        <i class="fas fa-list mx-2"></i>
        <span class="d-none d-md-inline-flex">{{ goBackButtonName }}</span>
      </div>
      <div
        *ngIf="!browseButtonEnabled"
        aria-haspopup="true"
        aria-expanded="false"
        data-toggle="tooltip"
        data-placement="top"
        data-html="true"
        title="Browse registered {{ elementType }}"
      >
        <i class="far fa-folder-open mx-2"></i>
        <span class="d-none d-md-inline-flex">Browse</span>
      </div>
    </button>
  </div>
</div>
