<div class="input-group p-5">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fas fa-search"></i></span>
  </div>
  <input
    type="text"
    [(ngModel)]="actualFilterValue"
    class="form-control font-weight-light"
    placeholder="Search by UUID or name"
    aria-label="Username"
    aria-describedby="basic-addon1"
  />
  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="changeSortingOrder()"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i *ngIf="actualSortingOrder == 'asc'" class="fas fa-sort-amount-up"></i>
      <i *ngIf="actualSortingOrder == 'desc'" class="fas fa-sort-amount-down"></i>
    </button>
    <!-- <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-sort-amount-up"></i> Filter
    </button> -->
    <!-- <div class="dropdown-menu">
      <a class="dropdown-item">Name</a>
      <a class="dropdown-item">UUID</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div> -->
  </div>
</div>
