<!-- Modal -->
<div class="modal fade" id="uploaderDialog" tabindex="-1" role="dialog" aria-labelledby="uploaderDialog"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

    <div class="modal-content">
      <div *ngIf="processing()" class="overlay m-auto p-0 text-center bg-gradient-white">
        <div style="display: table; width: 100%; height: 100%;">
          <app-loader [enabled]="processing"></app-loader>
        </div>
      </div>

      <div *ngIf="title" class="modal-header text-center">
        <h4 class="modal-title text-weight-bold">{{ title }}</h4>
      </div>
      <div class="modal-body">
        <div class="card card-default">
          <div class="card-body p-0">
            <div class="bs-stepper" id="uploaderStepper">
              <div class="bs-stepper-header" role="tablist">

                <!-- (1) Select Workflow Source -->
                <div class="step" data-target="#source-part">
                  <button type="btn btn-primary" class="step-trigger" role="tab" aria-controls="source-part"
                    id="source-part-trigger">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">Workflow source</span>
                  </button>
                </div>
                <div class="line"></div>

                <!-- (2) Select Workflow -->
                <div class="step" data-target="#workflow-part">
                  <button type="btn btn-primary" class="step-trigger" role="tab" aria-controls="workflow-part"
                    id="workflow-part-trigger">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">Workflow details</span>
                  </button>
                </div>
              </div>

              <!-- Content of steps -->
              <div class="bs-stepper-content">

                <!-- PART 1: Workflow source -->
                <div id="source-part" class="content px-2" style="width: 100%;" role="tabpanel"
                  aria-labelledby="source-part-trigger">
                  <div class="font-weight-light text-muted">
                    Select the source of the workflow to be registered
                  </div>
                  <div class="form-group">
                    <div class="icheck-primary">
                      <input type="radio" id="radioPrimary1" name="workflowSource" (change)="setSource('localRoCrate')">
                      <label for="radioPrimary1">
                        Local RO-Crate Archive
                      </label>
                    </div>
                    <div class="icheck-primary">
                      <input type="radio" id="radioPrimary2" name="workflowSource" checked
                        (change)="setSource('remoteRoCrate')">
                      <label for="radioPrimary2">
                        Remote RO-Crate Archive
                      </label>
                    </div>
                    <div class="icheck-primary">
                      <input type="radio" id="radioPrimary3" name="workflowSource" (change)="setSource('registry')">
                      <label for="radioPrimary3">
                        Registry Workflow <span class="text-muted" style="font-weight: normal;">(e.g. workflow
                          registered on <b>WorkflowHub</b>)</span>
                      </label>
                    </div>
                  </div>

                  <!-- (1a) Select workflow RO-Crate file -->
                  <div class="p-4">
                    <div *ngIf="source === 'remoteRoCrate'">
                      <div class="form-group">
                        <label for="roCrateUrl" class="m-0">
                          Remote RO-Crate Archive (<i class="fas fa-star-of-life fa-xs text-muted"></i>)
                        </label>
                        <div class="text-muted font-weight-light">
                          Enter the URL of the remote RO-Crate archive
                          <span class="font-weight-light font-italic">(e.g. https://myrepo.org/wf1.zip)</span>
                        </div>
                        <input type="text" name="roCrateUrl" class="form-control" id="roCrateUrl"
                          (change)="updateRoCrateUrl($event)" placeholder="https://myrepo.org/wf1.zip"
                          aria-describedby="roCrateUrl-error">
                        <span id="roCrateUrl-error" *ngIf="this.roCrateURL"
                          class="error invalid-feedback">{{this.roCrateURL.error}}</span>
                      </div>

                      <!-- RO-Crate authorization header -->
                      <div class="form-group mt-4">
                        <label for="workflow-auth" class="m-0">Authorization Header</label>
                        <div class="text-muted font-weight-light">
                          Enter the optional authorization header if required to download the RO-Crate
                        </div>
                        <input id="workflow-auth" type="text" name="wf-auth"
                          [(ngModel)]="authorizationHeader"
                          [ngClass]="!errors['authorization'] ? 'form-control': 'form-control is-invalid'"
                          placeholder="Bearer xxx__ZRBhqf9eeRasjqMw90pgEeMpTZ7__" aria-describedby="workflow-auth-error" aria-invalid="true">
                        <span id="workflow-auth-error" class="error invalid-feedback">{{ errors['authorization'] }}</span>
                      </div>
                    </div>

                    <!-- (1b) Select workflow RO-Crate file -->
                    <div *ngIf="source === 'localRoCrate'" class="form-group">
                      <label for="roCrateInputFile">Local RO-Crate Archive</label>
                      <div class="input-group">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="roCrateInputFile" name="roCrateInputFile"
                            accept="*" (change)="setRoCrateFile()">
                          <label class="custom-file-label" for="roCrateInputFile">
                            {{ roCrateFile ? roCrateFile['name'] : 'Choose a file'}}
                          </label>
                        </div>
                      </div>
                    </div>

                    <!-- (1c) Select workflow from registry -->

                    <!-- (1d) Select workflow from github repository -->
                  </div>
                </div>

                <!-- PART 2: Workflow details -->
                <div id="workflow-part" class="content" role="tabpanel" aria-labelledby="workflow-part-trigger">

                  <!-- workflow UUID -->
                  <div class="form-group mt-4">
                    <label for="workflow-uuid" class="m-0">UUID (<i
                        class="fas fa-star-of-life fa-xs text-muted"></i>)</label>
                    <div class="text-muted font-weight-light">Enter a UUID for the workflow</div>
                    <input type="text" name="wf-uuid"
                      [ngClass]="!errors['uuid'] ? 'form-control': 'form-control is-invalid'" id="workflow-uuid"
                      [(ngModel)]="workflowUUID" placeholder="Enter workflow UUID"
                      aria-describedby="workflow-uuid-error" aria-invalid="true">
                    <span id="workflow-uuid-error" class="error invalid-feedback">{{ errors['uuid'] }}</span>
                  </div>
                  <!-- workflow version -->
                  <div class="form-group mt-4">
                    <label for="workflow-version" class="m-0">Version (<i
                        class="fas fa-star-of-life fa-xs text-muted"></i>)</label>
                    <div class="text-muted font-weight-light">Enter a version for the workflow (e.g., <span
                        class="font-italic">1.0</span>)</div>
                    <input type="text" name="wf-version"
                      [ngClass]="!errors['version'] ? 'form-control': 'form-control is-invalid'" id="workflow-version"
                      [(ngModel)]="workflowVersion" placeholder="Enter the workflow version"
                      aria-describedby="workflow-version-error" aria-invalid="true">
                    <div id="workflow-version-error" class="error invalid-feedback">{{ errors['version'] }}</div>

                  </div>
                  <!-- workflow name -->
                  <div class="form-group mt-4">
                    <label for="workflow-name" class="m-0">Name</label>
                    <div class="text-muted font-weight-light">
                      Enter a name for the workflow or leave it blank to reuse the name specified in the RO-Crate
                    </div>
                    <input type="text" name="wf-name"
                      [ngClass]="!errors['name'] ? 'form-control': 'form-control is-invalid'" id="workflow-name"
                      [(ngModel)]="workflowName" [(value)]="workflowName" placeholder="Enter workflow UUID"
                      aria-describedby="workflow-name-error" aria-invalid="true">
                    <span id="workflow-name-error" class="error invalid-feedback">{{ errors['name'] }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted" style="text-align: center;">
            (<i class="fas fa-star-of-life fa-xs"></i>) required fields
          </div>
          <!-- /.card-body -->
          <div *ngIf="registrationError" class="card-footer"
            style="background: #ffe6e6; color: red; text-align: center;">
            <div class="text-bold">
              <i class="fas fa-exclamation-circle mr-1"></i>
              {{ registrationError.title }} (code: {{ registrationError.code }})
            </div>
            <div>{{ registrationError.message }} </div>
          </div>


        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12 text-center p-2">
          <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" style="width: 120px;"
            [innerHTML]="cancelText">
          </button>
          <button *ngIf="currentStepIndex > 0" class="btn btn-lg btn-warning m-1" (click)="previous()"
            style="width: 120px;">Previous</button>
          <button *ngIf="currentStepIndex != 1" class="btn btn-lg btn-primary m-1" (click)="next()"
            style="width: 120px;" [attr.disabled]="!validateWorkflowSource() ? '' : null">Next</button>
          <button *ngIf="currentStepIndex == 1" id="registerWorkflow" type="button" class="btn btn-primary btn-lg"
            style="width: 120px;" (click)="confirm()" [innerHTML]="confirmText"
            [attr.disabled]="!validateWorkflowDetails() ? '' : null">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
