<div class="row" style="color: var(--primary)">
  <a [routerLink]="['/workflow', { uuid: workflow.asUrlParam() }]">
    <i class="fas fa-caret-left" style="margin: 0px 2px 0 15px"></i> workflow
  </a>
</div>
<div class="card card-primary card-outline">
  <div *ngIf="!testInstances" class="overlay dark">
    <i class="fas fa-3x fa-sync-alt"></i>
  </div>
  <div class="card-body box-profile">
    <!-- /.card-header -->
    <div class="card-body mt-4 p-0" style="min-height: 860px;">
      <table id="suiteInstances" class="table table-striped" #suiteInstances>
        <thead>
          <tr>
            <th style="width: 10px" scope="col"></th>
            <th class="">Test Instances</th>
            <th class="text-center" scope="col">Engine</th>
            <th class="text-center" scope="col" style="width: 100px">
              Platform
            </th>
            <th class="text-center" scope="col" style="width: 300px;">Latest Builds</th>
          </tr>
        </thead>
        <tbody *ngIf="testInstances">
          <tr *ngFor="
              let testInstance of testInstances;
              index as i;
              first as isFirst
            ">
            <td [ngClass]="testInstance.class">
              <i class="{{ testInstance.statusIcon }} fa-2x"></i>
            </td>
            <td class="align-middle">
              <div class="font-weight-light text-lg">
                <input *ngIf="testInstance.editingMode" type="text" [(ngModel)]="testInstance.name"
                  class="form-control datatable-input-no-border"
                  aria-describedby="emailHelp" placeholder="Enter suite name"
                  (keyup.enter)="updateTestInstance(testInstance)"
                  (keyup.esc)="restoreTestInstance(testInstance)">
                <a *ngIf="!testInstance.editingMode"
                   style="color: black; font-size: larger"
                  (click)="showTestInstanceDetails(testInstance)"
                  (dblclick)="enableTestInstanceEditing(testInstance)"
                  data-html="true" data-toggle="tooltip" data-placement="top"
                  title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> see on <b>{{testInstance.service.type}}</b> <i class='fas fa-external-link-alt mx-1'></i><br/>or double click to edit</span>">
                  <div>{{ testInstance.name }}</div>
                </a>
                <div class="text-sm">
                  <i class="fas fa-xs fa-solid fa-fingerprint mr-1"></i>
                  <b>uuid:</b> {{ testInstance.uuid }}
                </div>
                <div class="text-sm cut-text">
                  <i class="fas fa-xs fa-external-link-alt mr-1"></i>
                  <b>url:</b> {{ testInstance.externalLink }}
                </div>
              </div>
            </td>
            <td class="text-center align-middle font-weight-light h-100">
              <div class="text-center" data-html="true" data-toggle="tooltip" data-placement="top"
                title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i><b>{{testInstance.suite.engineType}}</b> engine</span>">
                <img *ngIf="testInstance.suite && testInstance.suite.engineIcon"
                  src="{{ testInstance.suite.engineIcon }}" width="100" />
                <i *ngIf="!(testInstance.suite && testInstance.suite.engineIcon)"
                  class="far fa-question-circle fa-2x mr-3 text-muted"></i>
              </div>
            </td>
            <td class="text-center align-middle font-weight-light h-100">
              <div class="text-center" data-html="true" data-toggle="tooltip" data-placement="top"
                title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i><b>{{testInstance.service.type}}</b> service</span>">
                <a href="{{ testInstance.service.url }}">
                  <img src="{{ testInstance.platformIcon }}" height="60px" />
                </a>
              </div>
            </td>
            <td class="text-center align-middle font-weight-light" width="300">
              <stats-bar-chart [stats]="testInstance.getLatestBuilds() | arraySizeFilterPipe: 10" (selectedItem)="selectTestBuild($event)">
              </stats-bar-chart>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!testInstances || testInstances.length == 0" class="p-4">&nbsp;</div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
