<div class="row" style="color: var(--primary)">
  <a [routerLink]="['/workflow', { uuid: workflow.asUrlParam() }]">
    <i class="fas fa-caret-left" style="margin: 0px 2px 0 15px"></i> workflow
  </a>
</div>
<div class="card card-primary card-outline">
  <div *ngIf="!testInstances" class="overlay dark">
    <i class="fas fa-3x fa-sync-alt"></i>
  </div>
  <div class="card-body box-profile">
    <!-- /.card-header -->
    <div class="card-body mt-4 p-0">
      <table id="suiteInstances" class="table table-striped" #suiteInstances>
        <thead>
          <tr>
            <th style="width: 10px" scope="col"></th>
            <th class="">Test Instances</th>
            <th class="text-center" scope="col">Engine</th>
            <th class="text-center" scope="col" style="width: 100px">
              Platform
            </th>
            <th class="text-center" scope="col">Latest Builds</th>
          </tr>
        </thead>
        <tbody *ngIf="testInstances">
          <tr *ngFor="
              let testInstance of testInstances;
              index as i;
              first as isFirst
            ">
            <td [ngClass]="testInstance.class">
              <i class="{{ testInstance.statusIcon }} fa-2x"></i>
            </td>
            <td class="align-middle">
              <div class="font-weight-light text-lg" data-html="true" data-toggle="tooltip" data-placement="top"
                title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> see on <b>{{testInstance.service.type}}</b> <i class='fas fa-external-link-alt mx-1'></i></span>">
                <!-- <a [routerLink]="['/suite', { uuid: testInstance.uuid }]" style="color: black; font-size: larger;">{{
                  testInstance.roc_instance
                  }}</a> -->
                <a href="{{ testInstance.externalLink }}" target="_blank" style="color: black; font-size: larger"
                  (click)="selectTestInstance($event, testInstance)">
                  <div>{{ testInstance.roc_instance }}</div>
                  <div class="text-sm">
                    <b>uuid:</b> {{ testInstance.uuid }}
                  </div>
                  <div class="text-sm cut-text"><b>url:</b> {{ testInstance.externalLink }}</div>
                </a>
              </div>
            </td>
            <td class="text-center align-middle font-weight-light h-100">
              <div class="text-center" data-html="true" data-toggle="tooltip" data-placement="top"
                title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i><b>{{testInstance.suite.engineType}}</b> engine</span>">
                <img *ngIf="testInstance.suite && testInstance.suite.engineIcon"
                  src="{{ testInstance.suite.engineIcon }}" width="100" />
                <i *ngIf="!(testInstance.suite && testInstance.suite.engineIcon)"
                  class="far fa-question-circle fa-2x"></i>
              </div>
            </td>
            <td class="text-center align-middle font-weight-light h-100">
              <div class="text-center" data-html="true" data-toggle="tooltip" data-placement="top"
                title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i><b>{{testInstance.service.type}}</b> service</span>">
                <a href="{{ testInstance.service.url }}">
                  <img src="{{ testInstance.platformIcon }}" height="60px" />
                </a>
              </div>
            </td>
            <td class="text-center align-middle font-weight-light" width="50">
              <stats-bar-chart [stats]="testInstance.getLatestBuilds()" (selectedItem)="selectTestBuild($event)">
              </stats-bar-chart>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!testInstances || testInstances.length == 0" class="p-4">&nbsp;</div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
