<footer class="p-2 m-0 font-weight-light" style="background: #003333;">

  <!-- Useful links -->
  <div class="text-center text-x-large p-5 font-weight-light" style="font-size: x-large">
    <ul class="list-inline p-2">
      <li class="list-inline-item p-2">
        <a href="https://app.lifemonitor.eu" alt="LifeMonitor Web" class="text-white">Home</a>
      </li>
      <li class="list-inline-item p-2">
        <a href="https://api.lifemonitor.eu/static/apidocs.html" alt="LifeMonitor API Explorer" class="text-white">API
          Explorer</a>
      </li>      
      <li class="list-inline-item p-2">
        <a href="https://www.crs4.it/privacy-policy/" alt="LifeMonitor Terms & Conditions" class="text-white">Terms &
          Conditions</a>
      </li>
      <li class="list-inline-item p-2">
        <a href="https://lifemonitor.eu" alt="LifeMonitor Docs" class="text-white">About</a>
      </li>
    </ul>
  </div>

  <div class="text-center p-2">
    <div class="row">
      <!-- Github references -->
      <div class="col-lg-2 col-md-12 text-center m-5 m-lg-0">
        <div class="">
          <img src="/assets/img/logo/brand/github-white.png" width="60px" alt="Github Repository">
          <div>View on <b>GitHub</b></div>
          <a class="text-white" href="https://github.com/crs4/life_monitor" target="_blank">
            <span class="small">crs4/lifemonitor</span>
          </a>
          <br>
          <a class="text-white" href="https://github.com/crs4/lifemonitor-web" target="_blank">
            <span class="small">crs4/lifemonitor-web</span>
          </a>
        </div>
      </div>
      <!-- Developed by -->
      <div class="col-lg-8 col-md-12 m-5 m-lg-0">
        <div>
          <a href="https://lifemonitor.eu/" target_="_blank" class="text-white">
            <span
              style="font-style: italic; font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;">Life</span>
            <span class="small" style="font-size: 75%; margin: 0 -1px 0 1px;">-</span>
            <span style="font-weight: bold; font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;">Monitor</span>
          </a> is developed by <a href="https://www.crs4.it" class="text-white font-weight-bold">CRS4</a>
          with <a href="https://www.bbmri-eric.eu" class="text-white font-weight-bold">BBRI-ERIC</a>
          as part of the
          <a class="text-white font-weight-bold" href="https://www.eosc-life.eu/" target="_blank"
            rel="noopener">EOSC-Life</a>
          project and
          distributed under the
          <a href="https://github.com/crs4/life_monitor/blob/master/LICENSE" target="_blank" rel="noopener"
            class="text-white">MIT
            License</a>
        </div>
        <br>
        <img src="/assets/img/logo/brand/partners-logo.png" class="img-fluid" width="300">        
      </div>
      <!-- Hosted By -->
      <div class="col-lg-2 col-md-12 m-5 m-lg-0">
        <div class="text-center">
          <p class="text-white">hosted by</p>
          <a href="https://research.csc.fi/computing">
            <img src="/assets/img/logo/brand/csc.png" width="150">
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- EOSC-Life Project -->
  <div class="text-center text-small m-4 m-md-0">
    <img src="/assets/img/logo/brand/eu-flag.png" class="mr-2" alt="Flag of the European Union" width="50">
    <a href="https://www.eosc-life.eu/" target="_blank" rel="noopener">EOSC-Life</a> is funded by the European Union’s
    Horizon 2020 programme under grant agreement number <a href="https://cordis.europa.eu/project/id/824087"
      target="_blank" rel="noopener">824087</a>.
    <!-- <div class="copyright text-center">CRS4 © 2021-2022</div> -->
  </div>

</footer>