<footer class="p-2 m-0 font-weight-light" style="background: #cad9d9;">

  <!-- Useful links -->
  <div class="text-center text-x-large p-5 font-weight-light" style="font-size: x-large">
    <ul class="list-inline p-2">
      <li class="list-inline-item p-2">
        <a href="." alt="LifeMonitor Web" class="text-dark">Home</a>
      </li>
      <li class="list-inline-item p-2">
        <a class="text-dark" href="{{backendBaseUrl}}/static/apidocs.html" alt="LifeMonitor API Explorer"
          target="_blank">API Explorer</a>
      </li>
      <li class="list-inline-item p-2">
        <a class="text-dark" href="https://www.crs4.it/privacy-policy/" alt="LifeMonitor Terms & Conditions"
          target="_blank">Terms &
          Conditions</a>
      </li>
      <li class="list-inline-item p-2">
        <a class="text-dark" href="https://lifemonitor.eu" alt="LifeMonitor Docs" target="_blank">About</a>
      </li>
    </ul>
  </div>

  <div class="text-center p-2">
    <div class="row">
      <!-- Github references -->
      <div class="col-lg-2 col-md-12 text-center m-5 m-lg-0">
        <div class="text-dark">
          <img src="/assets/img/logo/brand/github-white.png" width="60px" alt="Github Repository">
          <div>View on <b>GitHub</b></div>
          <a class="text-white" href="https://github.com/crs4/life_monitor" target="_blank">
            <span class="small">crs4/lifemonitor</span>
          </a>
          <br>
          <a class="text-dark" href="https://github.com/crs4/lifemonitor-web" target="_blank" alt="LifeMonitor Web App"
            title="LifeMonitor Web App">
            <span class="small">crs4/lifemonitor-web</span>
          </a>
            <a class="text-dark" href="https://github.com/crs4/lifemonitor-web/releases/tag/{{appVersion}}"
        </div>
      </div>
      <!-- Developed by -->
      <div class="col-lg-8 col-md-12 m-5 m-lg-0">
        <div class="text-dark">
          <a href="https://lifemonitor.eu/" target_="_blank" class="text-white">
            <span
              style="font-style: italic; font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;">Life</span>
            <span class="small" style="font-size: 75%; margin: 0 -1px 0 1px;">-</span>
            <span style="font-weight: bold; font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;">Monitor</span>
          </a> is developed by <a href="https://www.crs4.it" class="text-white font-weight-bold">CRS4</a>
          with <a href="https://www.bbmri-eric.eu" class="text-white font-weight-bold">BBMRI-ERIC</a>
          as part of the
          <a class="text-dark font-weight-bold" href="https://www.eosc-life.eu/" target="_blank"
            rel="noopener">EOSC-Life</a>
          project and
          distributed under the
          <a href="https://github.com/crs4/life_monitor/blob/master/LICENSE" target="_blank" rel="noopener"
            class="text-white font-weight-bold">MIT
            License</a>
        </div>
        <br>
        <!-- Partners Logos -->
        <div class="text-center">
          <div class="d-inline-block partner-logo m-2 p-2">
            <a class="partner-logo text-right" href="https://crs4.it" target="_blank"
              title="CRS4 | Center for Advanced Studies, Research and Development inf Sardinia"
              alt="CRS4 | Center for Advanced Studies, Research and Development inf Sardinia">
              <img src="/assets/img/logo/brand/crs4.png" class="img-fluid" width="200">
            </a>
          </div>
          <div class="d-inline-block partner-logo m-2 p-3">
            <a class="partner-logo" href="https://www.eosc-life.eu" target="_blank" title="EOSC-Life Project"
              alt="EOSC-Life Project">
              <img src="/assets/img/logo/brand/eosc.png" class="img-fluid" width="120">
            </a>
          </div>
          <div class="d-inline-block partner-logo m-2 p-2 pt-3">
            <a href="https://www.bbmri-eric.eu" target="_blank"
              title="BBMRI-ERIC | European research infrastructure for biobanking"
              alt="BBMRI-ERIC | European research infrastructure for biobanking">
              <img src="/assets/img/logo/brand/bbmri.png" class="img-fluid" width="200">
            </a>
          </div>
        </div>
      </div>
      <!-- Hosted By -->
      <div class="col-lg-2 col-md-12 m-5 m-lg-0">
        <div class="text-center">
          <p class="text-dark">hosted by</p>
          <a href="https://research.csc.fi/computing" target="_blank" alt="CSC | IT Center for Scienc"
            <img src="/assets/img/logo/brand/csc.png" width="150">
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- App version & EOSC-Life Project -->
  <div class="row py-2 m-md-0">
    <div class="col-lg-2 col-md-12 d-lg-block d-none small text-center text-dark">Version:
      <a class="text-dark" href="https://github.com/crs4/lifemonitor-web/releases/tag/{{appVersion}}" target="_blank"
    <div class="col-lg-8 col-md-12 d-lg-block text-center text-dark text-small">
      <img src="/assets/img/logo/brand/eu-flag.png" class="mr-2" alt="Flag of the European Union" width="50">
      <a class="text-dark font-weight-bold" href="https://www.eosc-life.eu/" target="_blank"
        rel="noopener">EOSC-Life</a> is funded by the European Union’s
      Horizon 2020 programme under grant agreement number
      <a class="text-dark font-weight-bold" href="https://cordis.europa.eu/project/id/824087" target="_blank"
        rel="noopener">824087</a>.
      <!-- <div class="copyright text-center">CRS4 © 2021-2022</div> -->
    </div>
    <div class="col-lg-2 col-md-12 small"></div>
  </div>

</footer>