footer {
  background-color: #094b4b;
  color: white;
  position: relative;
  bottom: 0;
}

.footer-link:hover{
  background-color: #e0eded;
  border-radius: 25px;
  height: auto;
}

.partner-logo:hover{
  background-color: #e0eded;
  border-radius: 25px;
  height: auto;
}