<div class="row mx-lg-2 mx-sm-0 mt-4 h-100 align-items-end" style="font-weight: 300; color: gray;">
    <div class="col-lg-7 col-sm-12">
        <div class="row">
            <div class="col-2 align-middle" style="max-width: 50px; font-size: 2.4rem; margin-top: 3px; color: {{
            workflow.color
          }}">
                <i class="{{ workflow.statusIcon }}"></i>
            </div>
            <div *ngIf="!suite" class="col-10" style="font-size: 2.5rem; color: {{ workflow.color }};">
                {{ workflow.name }}
            </div>
            <div *ngIf="suite" class="col-10" style="font-size: 2.5rem; color: {{ workflow.color }};">
                {{ workflow.name }}: <span class="font-weight-bolder">{{ suite.name }}</span>
            </div>
        </div>
        <!-- row -->

        <div *ngIf="suite" class="row" style="font-size: 1.0rem;">            
            <div class="col-2 p-0 m-0" style="max-width: 50px">
                <i class="fas fa-lg fa-cubes mx-3"></i>
            </div>
            <div class="col-9 mx-1">
                <b>suite uuid: </b>{{ suite.uuid }}
            </div>
        </div>
        <!-- row -->

        <div class="row" style="font-size: 1.0rem;">
            <div class="col-2 p-0 m-0" style="max-width: 50px">
                <img class="mx-3" src="{{ workflow.typeIcon }}" height="25" />
            </div>
            <div class="col-10 mx-1">
                <b>workflow uuid: </b>{{ workflow.uuid }}
            </div>
        </div>
        <!-- row -->

        <div *ngIf="workflow.registry" class="row" style="font-size: 1.0rem;">
            <div class="col-2 p-0 m-0" style="max-width: 50px">
                <img class="mx-3" src="/assets/img/logo/registries/workflowhub.svg" height="25" />
            </div>
            <div class="col-10 mx-1" style="color: gray;">
                <b>external workflow ID: </b>
                <a href="{{ workflow.externalLink }}" target="_blank">{{
                    workflow.externalLink
                    }}<i class="fas fa-xs fa-external-link-alt mx-2"></i>
                </a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col -->

    <div class="col-lg-2 d-none d-sm-none d-md-none d-lg-block mt-n4 text-center">
        <a *ngIf="workflow.registry" class="hvr-float-shadow" data-toggle="tooltip" target="_blank"
            data-placement="left" title="See on '{{workflow.registry['name']}}' registry" href="{{workflow.externalLink}}">
            <img src="/assets/img/logo/registries/workflowhub.svg" class="p-0 m-0" height="150" />
            <div class="text-center mt-n3" style="font-size: 0.9rem;">
                <span>see on <b>registry</b></span>
                <i class="fas fa-sm fa-external-link-alt mx-2"></i>
            </div>
        </a>
    </div>
    <!-- /.col -->

    <div class="col-lg-3 d-none d-sm-none d-md-none d-lg-block mt-3 px-5">
        <rocrate-logo [workflow]="workflow"></rocrate-logo>
    </div>
    <!-- /.col -->

    <!-- <div class="col-lg-1" style="max-width: 25px;"></div> -->
    <!-- /.col -->

</div>
<!-- /.row -->

<div class="row d-lg-none mt-5 mb-5" style="font-size: 1.0rem; float: right;">
    <a href="{{ workflow.externalLink }}" target="_blank">
        <i class="fas fa-cloud-download-alt mx-1"></i>
        download as
        RO-Crate <img class="mx-0" src="/assets/img/logo/crates/ro-crate-w-text.png" height="25" />
    </a>
</div>
<!-- /.row -->
