<div class="text-muted" *ngIf="isLoading()">
  <i class="fas fa-2x fa-sync-alt"></i>
</div>
<div *ngIf="!isLoading()">
  <select
    [id]="selectorId"
    #selectPicker
    class="form-select selectpicker show-tick version-picker text-center"
    data-width="fit"
    data-style="version"
    aria-label="Select workflow version"
    (change)="selectVersion($event.target.value)"
  >
    <ng-container *ngIf="versions">
      <ng-container *ngFor="let v of versions">
        <option
          [value]="v.name"
          [selected]="v.name == workflow.currentVersion.version['version']"
          class="version-option text-center"
          [attr.data-content]="
            v.name +
            (v.isLatest
              ? '<span class=\'mx-2 badge badge-success\' style=\'font-size: 0.8em;\'>latest</span>'
              : '<span class=\'mx-2\' style=\'display: block; min-width: ' +
                (workflow.currentVersion.version['version'].length + 7) +
                'ch;\'> </span>')
          "
        ></option>
      </ng-container>
    </ng-container>
  </select>
</div>
