<div class="text-muted" *ngIf="isLoading()">
  <i class="fas fa-2x fa-sync-alt"></i>
</div>
<div *ngIf="!isLoading()" class="flex selector-container">
  <p-dropdown [options]="versions" [(ngModel)]="selectedVersion" optionLabel="name" placeholder="Select a version"
    styleClass="selector-container" [disabled]="isLoading()">
    <ng-template pTemplate="selectedItem">
      <div class="flex align-items-center gap-2" *ngIf="selectedVersion">
        <span *ngIf="selectedVersion.isLatest" class='mx-1 badge badge-success' style='font-size: 0.8em;'>latest</span>
        <span>{{ selectedVersion.name }}</span>
      </div>
    </ng-template>
    <ng-template let-version pTemplate="item">
      <div class="flex align-items-center gap-2">
        <span *ngIf="version.isLatest" class='mx-1 badge badge-success' style='font-size: 0.8em;'>latest</span>
        <span>{{ version.name }}</span>
      </div>
    </ng-template>
  </p-dropdown>
</div>
