:host ::ng-deep {
  .white-badge {
    color: white !important;
    background-color: white !important;
  }

  .selector-container {
    border: none;
  }

  .version-option {
    margin: auto;
    width: 100%;

    li a.version-option span.text {
      margin-right: 0 !important;
    }
  }

  .selected {
    color: white !important;
  }

  button {
    padding: 0;

    .filter-option {
      text-align: center;
    }
  }

  .version-picker {
    margin: auto !important;
  }
}
