<!-- <nav class="main-header navbar navbar-expand navbar-white navbar-light"> -->
<nav class="main-header navbar navbar-toggleable-sm navbar-expand-md navbar-white" style="
    height: 80px;
    background: rgb(9, 75, 75);
    position: fixed;
    top: 0;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
  ">
  <!--<nav class="main-header navbar navbar-toggleable-sm navbar-expand-md navbar-white" style="
    height: 80px;
    background: rgb(9, 75, 75);
    background: radial-gradient(
      circle,
      rgba(0, 75, 75, 1) 0%,
      rgba(26, 118, 118, 1) 80%
    );
  ">-->
  <a [routerLink]="['/dashboard']" class="navbar-brand mx-auto mt-0 text-center" href="#">
    <img src="/assets/img/logo/lm/LifeMonitorLogo.png" alt="LifeMonitor Web App" width="90px" class="brand-image" style="
        position: absolute;
        left: 50%;
        margin-top: -35px;
        margin-left: -45px !important;
        height: 70px;
      " />
    <!-- <img
      src="/assets/img/logo/lm/LifeMonitor_Text.svg"
      style="color: white"
      alt="LifeMonitor Web App"
      height="2.4rem"
      class="brand-image m-1"
    /> -->
  </a>

  <a *ngIf="!isUserLogged && !maintenanceMode" [routerLink]="['/login']" class="btn btn-primary btn-lg mr-4"
    role="button">
    <i class="fas fa-sign-in-alt mr-2"></i>Sign In
  </a>

  <!-- <button
    *ngIf="isUserLogged"
    class="navbar-toggler navbar-toggler-right"
    type="button"
    data-html="true"
    data-toggle="collapse"
    data-target=".navbar-collapse"
    style="color: white;"
  >
    ☰
  </button> -->
  <nav *ngIf="isUserLogged" class="navbar">
    <ul class="nav ml-auto float-right">
      <!-- <app-messages-dropdown-menu></app-messages-dropdown-menu> -->
      <app-notifications-dropdown-menu (openUserProfile)="openUserProfile()">
      </app-notifications-dropdown-menu>
      <app-user-dropdown-menu #userDropdownMenu></app-user-dropdown-menu>
    </ul>
  </nav>
</nav>