<div style="margin: 80px 0 100px;">
    <h1 class="text-primary text-center py-5" style="font-size: 5rem; font-weight: 50;">
        We'll be back soon!
    </h1>
    <div class="text-center pt-4 pb-1">
        <img src="/assets/icons/maintenance.png" width="280px">
    </div>

    <!-- Set the generic maintenance message  -->
    <h3 class="font-weight-light text-primary text-center mx-auto my-5">
        We're busy updating the
        <span
            style="font-style: italic; font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;">Life</span><span
            class="small" style="font-size: 75%; margin: 0 -1px 0 1px;">-</span><span
            style="font-weight: bold; font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;">Monitor</span>
        service for you. <br>Please check back soon!
    </h3>

    <!-- Set the detailed maintenance message  -->
    <h4 *ngIf="maintenanceMessage" class="font-weight-light text-muted text-center mx-auto my-5">
        {{ maintenanceMessage }}        
    </h4>

</div>