<app-loader [enabled]="!user || !user.picture" loadingText="... loading app ..."></app-loader>

<div class="wrapper" style="background: #f4f6f9;">
  <app-input-dialog></app-input-dialog>

  <!-- <app-header (toggleMenuSidebar)="toggleMenuSidebar()"></app-header> -->
  <!-- <app-header></app-header> -->

  <!--<app-menu-sidebar
    (mainSidebarHeight)="mainSidebarHeight($event)"
  ></app-menu-sidebar>-->

  <div #contentWrapper class="content-wrapper" >
    <div class="">
        <div class="py-2 text-center">
            <img src="/assets/icons/lm/icon.svg" width="150px">
        </div>
        <h1 class="text-primary text-center" style="font-size: 5rem; font-weight: 50;">
            We'll be back soon!
        </h1>
        <div class="text-center pt-4 pb-1">
            <img src="/assets/icons/maintenance.png" width="280px">
        </div>
    
        <!-- Set the generic maintenance message  -->
        <h3 class="font-weight-light text-primary text-center mx-auto my-5">
            We're busy updating the 
            <span style="font-style: italic; font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;">Life</span><span class="small" style="font-size: 75%; margin: 0 -1px 0 1px;">-</span><span style="font-weight: bold; font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;">Monitor</span>
             service for you. <br>Please check back soon!
        </h3>
    
        <!-- Set the generic maintenance message  -->
        
        <!-- <h4 class="font-weight-light text-muted text-center mx-auto my-5">
            We're busy updating the 
            <span style="font-style: italic; font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;">Life</span><span class="small" style="font-size: 75%; margin: 0 -1px 0 1px;">-</span><span style="font-weight: bold; font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;">Monitor</span>
             service for you. <br>Please check back soon!
        </h4>
         -->
        
    
        <!-- Home Button -->
        <!--<div class="py-4 text-center">
            <a class="btn btn-primary btn-lg" role="button" href="/">Back</a>
        </div>-->
    
    </div>
  </div>

  <!--<aside class="control-sidebar control-sidebar-dark"></aside>
  <div id="sidebar-overlay" (click)="toggleMenuSidebar()"></div>-->

  <app-footer></app-footer>
</div>


