<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"></h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right mr-lg-4 mr-md-2">
          <li class="breadcrumb-item active">
            <!-- <a [routerLink]="['/dashboard']"
              ><i class="fas fa-home p-1"></i>Home</a
            > -->
            <i class="fas fa-home p-1"></i>Home
          </li>

          <!-- <li class="breadcrumb-item active">Dashboard v1</li> -->
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content mx-lg-4 mx-md-2 mt-md-3">
  <h2 class="text-primary font-weight-light p-2">Workflows</h2>

  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-test-passed" (click)="filterByStatus('all_passing')">
          <!-- Loading (remove the following to stop the loading)-->
          <div *ngIf="!workflows" class="overlay dark">
            <i class="fas fa-3x fa-sync-alt"></i>
          </div>
          <div
            *ngIf="workflows && statusFilter && statusFilter != 'all_passing'"
            class="overlay dark"
          ></div>
          <!-- end loading -->
          <div class="inner">
            <h3>{{ workflows ? workflowStats.all_passing.length : 0 }}</h3>
            <p>Passing</p>
          </div>
          <div class="icon">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <a href="#" class="small-box-footer" style="height: 22px">
            <div style="display: inline-block; padding: 0"></div>
            <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div
          class="small-box bg-test-error"
          (click)="filterByStatus('some_passing')"
        >
          <!-- Loading (remove the following to stop the loading)-->
          <div *ngIf="!workflows" class="overlay dark">
            <i class="fas fa-3x fa-sync-alt"></i>
          </div>
          <div
            *ngIf="workflows && statusFilter && statusFilter != 'some_passing'"
            class="overlay dark"
          ></div>
          <div class="inner">
            <h3>{{ workflows ? workflowStats.some_passing.length : 0 }}</h3>
            <p>Some passing</p>
          </div>
          <div class="icon">
            <i class="fas fa-radiation"></i>
          </div>
          <a href="#" class="small-box-footer" style="height: 22px">
            <div style="display: inline-block; padding: 0"></div>
            <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div
          class="small-box bg-test-failed"
          (click)="filterByStatus('all_failing')"
        >
          <!-- Loading (remove the following to stop the loading)-->
          <div *ngIf="!workflows" class="overlay dark">
            <i class="fas fa-3x fa-sync-alt"></i>
          </div>
          <div
            *ngIf="workflows && statusFilter && statusFilter != 'all_failing'"
            class="overlay dark"
          ></div>
          <div class="inner">
            <h3>{{ workflows ? workflowStats.all_failing.length : 0 }}</h3>
            <p>Failing</p>
          </div>
          <div class="icon">
            <i class="fa fa-thumbs-down"></i>
          </div>
          <a href="#" class="small-box-footer" style="height: 22px">
            <div style="display: inline-block; padding: 0"></div>
            <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
          </a>
        </div>
      </div>
      <!-- ./col -->

      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div
          class="small-box bg-test-aborted"
          (click)="filterByStatus('unknown')"
        >
          <!-- Loading (remove the following to stop the loading)-->
          <div *ngIf="!workflows" class="overlay dark">
            <i class="fas fa-3x fa-sync-alt"></i>
          </div>
          <div
            *ngIf="workflows && statusFilter && statusFilter != 'unknown'"
            class="overlay dark"
          ></div>
          <div class="inner">
            <h3>{{ workflows ? workflowStats.unknown.length : 0 }}</h3>

            <p>Unavailable</p>
          </div>
          <div class="icon">
            <i class="fa fa-question-circle"></i>
          </div>
          <a href="#" class="small-box-footer" style="height: 22px">
            <div style="display: inline-block; padding: 0"></div>
            <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
          </a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- Main row -->

  <div class="container-fluid">
    <!-- Search Bar -->
    <item-search-bar
      [(filterValue)]="workflowNameFilter"
      [(sortingOrder)]="workflowSortingOrder"
    ></item-search-bar>

    <div class="card card-primary card-outline">
      <!-- Loading (remove the following to stop the loading)-->
      <div *ngIf="!workflows" class="overlay dark">
        <i class="fas fa-3x fa-sync-alt"></i>
      </div>
      <div class="card-body box-profile">
        <!-- /.card-header -->
        <div class="card-body mt-4 p-0">
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="width: 10px" scope="col"></th>
                <th class="">Workflow</th>
                <th class="text-center" scope="col">Type</th>
                <th class="text-center" scope="col">Version</th>
                <th class="text-center" scope="col" style="width: 100px">
                  Suites
                </th>
                <th class="text-center" scope="col">Latest Builds</th>
              </tr>
            </thead>
            <tbody *ngIf="workflows">
              <!-- end loading -->
              <tr
                *ngFor="
                  let w of workflows
                    | itemFilterPipe: workflowNameFilter
                    | sortingFilter: workflowSortingOrder;
                  index as i;
                  first as isFirst
                "
              >
                <td [ngClass]="w.class">
                  <i class="{{ w.statusIcon }} fa-2x"></i>
                </td>
                <td class="align-middle">
                  <div class="font-weight-light text-lg">
                    <a
                      [routerLink]="['/workflow', { uuid: w.uuid }]"
                      style="color: black; font-size: larger"
                      >{{ w.name }}</a
                    >
                  </div>
                  <div class="text-sm"><b>uuid:</b> {{ w.uuid }}</div>
                </td>
                <td class="text-center align-middle">
                  <div style="height: 100%; margin: auto">
                    <img src="{{ w.typeIcon }}" width="30" />
                  </div>
                </td>
                <td class="text-center align-middle font-weight-light">
                  {{ w.latest_version }}
                  <div *ngIf="w.registry" class="text-sm">
                    <a href="{{ w.externalLink }}" target="_blank"
                      >[details <i class="fas fa-external-link-alt"></i>]</a
                    >
                  </div>
                </td>
                <td class="text-center align-middle font-weight-light">
                  <a [routerLink]="['/workflow', { uuid: w.uuid }]">
                    <stats-pie-chart [stats]="w.suites"></stats-pie-chart>
                  </a>
                </td>
                <td
                  class="text-center align-middle font-weight-light"
                  width="50"
                >
                  <stats-bar-chart
                    [stats]="w.getLatestBuilds()"
                    (selectedItem)="selectTestBuild($event)"
                  >
                  </stats-bar-chart>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</section>
<!-- /.content -->
