<app-loader [enabled]="isLoading|async"></app-loader>

<div *ngIf="workflows" class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"></h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right mr-lg-4 mr-md-2">
          <li class="breadcrumb-item active">
            <i class="fas fa-home p-1"></i>Home
          </li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section *ngIf="workflows" class="content mx-lg-4 mx-md-2 mt-md-3">
  <h2 class="text-primary font-weight-light p-2"><span *ngIf="isUserLogged()">My </span>Workflows</h2>

  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-test-passed" (click)="filterByStatus('all_passing')" data-toggle="tooltip"
          data-placement="bottom" data-html="true"
          title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to filter <b>passing</b> workflows</span>">
          <!-- Loading (remove the following to stop the loading)-->
          <div *ngIf="isLoading|async" class="overlay dark">
            <i class="fas fa-3x fa-sync-alt"></i>
          </div>
          <div *ngIf="!(isLoading|async) && workflows && statusFilter && statusFilter != 'all_passing'" class="overlay dark"></div>
          <!-- end loading -->
          <div class="inner">
            <h3>{{ workflows ? workflowStats.all_passing.length : 0 }}</h3>
            <p>Passing</p>
          </div>
          <div class="icon">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="small-box-footer" style="height: 22px">
            <div style="display: inline-block; padding: 0"></div>
            <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-test-error" (click)="filterByStatus('some_passing')" data-toggle="tooltip"
          data-placement="bottom" data-html="true"
          title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to filter workflows partially <b>passing</b></span>">
          <!-- Loading (remove the following to stop the loading)-->
          <div *ngIf="(isLoading|async)" class="overlay dark">
            <i class="fas fa-3x fa-sync-alt"></i>
          </div>
          <div *ngIf="!(isLoading|async) && workflows && statusFilter && statusFilter != 'some_passing'" class="overlay dark"></div>
          <div class="inner">
            <h3>{{ workflows ? workflowStats.some_passing.length : 0 }}</h3>
            <p>Some passing</p>
          </div>
          <div class="icon">
            <i class="fas fa-radiation"></i>
          </div>
          <div class="small-box-footer" style="height: 22px">
            <div style="display: inline-block; padding: 0"></div>
            <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-test-failed" (click)="filterByStatus('all_failing')" data-toggle="tooltip"
          data-placement="bottom" data-html="true"
          title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to filter <b>failing</b> workflows</span>">
          <!-- Loading (remove the following to stop the loading)-->
          <div *ngIf="(isLoading|async)" class="overlay dark">
            <i class="fas fa-3x fa-sync-alt"></i>
          </div>
          <div *ngIf="!(isLoading|async) && workflows && statusFilter && statusFilter != 'all_failing'" class="overlay dark"></div>
          <div class="inner">
            <h3>{{ workflows ? workflowStats.all_failing.length : 0 }}</h3>
            <p>Failing</p>
          </div>
          <div class="icon">
            <i class="fa fa-thumbs-down"></i>
          </div>
          <div class="small-box-footer" style="height: 22px">
            <div style="display: inline-block; padding: 0"></div>
            <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
          </div>
        </div>
      </div>
      <!-- ./col -->

      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-test-aborted" (click)="filterByStatus('unknown')" data-html="true"
          data-toggle="tooltip" data-placement="bottom"
          title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to filter workflows in <b>unknown</b> state</span>">
          <!-- Loading (remove the following to stop the loading)-->
          <div *ngIf="(isLoading|async)" class="overlay dark">
            <i class="fas fa-3x fa-sync-alt"></i>
          </div>
          <div *ngIf="!(isLoading|async) && workflows && statusFilter && statusFilter != 'unknown'" class="overlay dark"></div>
          <div class="inner">
            <h3>{{ workflows ? workflowStats.unknown.length : 0 }}</h3>

            <p>Unavailable</p>
          </div>
          <div class="icon">
            <i class="fa fa-question-circle"></i>
          </div>
          <div class="small-box-footer" style="height: 22px">
            <div style="display: inline-block; padding: 0"></div>
            <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
          </div>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- Main row -->

  <div class="container-fluid">
    <!-- Search Bar -->
    <item-search-bar [(filterValue)]="workflowNameFilter" [(sortingOrder)]="workflowSortingOrder"></item-search-bar>

    <div *ngIf="! (isLoading|async)" class="card card-primary card-outline">
      <!-- Loading (remove the following to stop the loading)-->
      <div *ngIf="!workflows" class="overlay dark">
        <i class="fas fa-3x fa-sync-alt"></i>
      </div>
      <div class="card-body box-profile">

        <div *ngIf="isUserLogged()" class="float-right">
          <a *ngIf="!editModeEnabled" class="btn btn-sm m-4" (click)="editModeToggle()">
            <i class="far fa-edit"></i> edit
          </a>
          <a *ngIf="editModeEnabled" class="btn btn-sm m-4 active" (click)="editModeToggle()">
            <i class="far fa-window-close"></i> done
          </a>
        </div>

        <!-- /.card-header -->
        <div class="card-body mt-4 p-0">
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="width: 10px" scope="col"></th>
                <th class="">Workflow</th>
                <th class="text-center" scope="col">Visibility</th>
                <th class="text-center" scope="col">Type</th>
                <th class="text-center" scope="col">Version</th>
                <th class="text-center" scope="col" style="width: 100px">
                  Suites
                </th>
                <th class="text-center" scope="col">Latest Builds</th>
              </tr>
            </thead>
            <tbody *ngIf="workflows">
              <!-- end loading -->
              <tr *ngFor="
                  let w of workflows
                    | itemFilterPipe: workflowNameFilter
                    | sortingFilter: workflowSortingOrder;
                  index as i;
                  first as isFirst
                ">
                <td [ngClass]="w.class">
                  <i class="{{ w.statusIcon }} fa-2x"></i>
                </td>
                <td class="align-middle">
                  <div class="font-weight-light text-lg" data-html="true" data-toggle="tooltip" data-placement="top"
                    title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to see <b>suites</b> <i class='fas fa-external-link-alt mx-1'></i></span>">
                    <a [routerLink]="['/workflow', { uuid: w.asUrlParam() }]" style="color: black; font-size: larger">{{
                      w.name
                      }}
                      <div class="text-sm"><b>uuid:</b> {{ w.uuid }}</div>
                    </a>
                  </div>
                  <div *ngIf="w.registry" class="text-xs cut-text font-weight-light">
                    <b>external ID: </b>
                    <a href="{{ w.externalLink }}" target="_blank">{{
                      w.externalLink
                      }}<i class="fas fa-xs fa-external-link-alt mx-2"></i>
                    </a>
                  </div>
                </td>
                <td class="text-center align-middle font-weight-light">
                  <div *ngIf="w.public === undefined">
                    <i class="fas fa-2x fa-sync-alt text-muted"></i>
                  </div>
                  <div *ngIf="w.public !== undefined" style="height: 100%; margin: auto" data-html="true"
                    data-toggle="tooltip" data-placement="top" class="workflow-visibility-{{w.uuid}}"
                    title="{{ getWorkflowVisibilityTitle(w) }}">
                    <i *ngIf="w.public" class="fas fa-lg fa-globe-americas"></i>
                    <i *ngIf="!w.public" class="fas fa-lg fa-user-lock"></i>
                    <div class="text-muted">{{ w.public ? 'public': 'private' }}</div>
                    <div *ngIf="isEditable(w)" class="badge badge-primary" (click)="changeVisibility(w)">
                      change
                    </div>
                  </div>
                </td>

                <td class="text-center align-middle">
                  <div style="height: 100%; margin: auto" data-html="true" data-toggle="tooltip" data-placement="top"
                    title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i>{{w.type}} workflow</span>">
                    <img src="{{ w.typeIcon }}" width="45" />
                  </div>
                </td>
                <td class="text-center align-middle font-weight-light">
                  <div data-toggle="tooltip" data-placement="top" data-html="true"
                    title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i>latest version</span>">
                    {{ w.latest_version }}
                  </div>
                  <div *ngIf="w.registry" class="text-sm" title="{{ w.externalLink }}">
                    <a href="{{ w.externalLink }}" target="_blank">[details <i
                        class="fas fa-external-link-alt"></i>]</a>
                  </div>
                </td>
                <td class="text-center align-middle font-weight-light" style="max-width: 150px;">
                  <a [routerLink]="['/workflow', { uuid: w.asUrlParam() }]">
                    <stats-pie-chart [stats]="w.suites"></stats-pie-chart>
                  </a>
                </td>
                <td class="text-center align-middle font-weight-light" width="50">
                  <stats-bar-chart [stats]="w.getLatestBuilds()" (selectedItem)="selectTestBuild($event)">
                  </stats-bar-chart>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</section>
<!-- /.content -->
