.input-group-prepend > .input-group-text {
  background-color: transparent;
  border: none;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 98%;
  white-space: nowrap;
}

.icon-wrapper {
  display: inline-block;
  width: 17px;
  text-align: center;
}

.laading {
  background-color: black;
  opacity: 0.5;
}

.p-datatable .p-sortable-column.p-highlight {
  color: var(--eosc-green-dark);
}

// .dashboard-grid-layout {
//   display: flex;
//   justify-content: flex-start;
//   align-items: flex-start;
//   flex-direction: column;
// }

:host ::ng-deep {
  .item-label {
    font-weight: bold;
    margin-right: 0.1rem;
    font-size: small;
    font-weight: lighter;
    font-weight: 400;
  }

  .item-name {
    font-size: 1.5rem;
    font-weight: 200;
  }

  .list-item-card  {
    min-height: 120rem !important;
  }

  .list-item-container {
    height: 15rem;
  }

  .list-item-summary {
    font-size: larger;
    font-weight: lighter;
    text-align: center;
  }

  .item-centered {
    text-align: center !important;
    vertical-align: middle !important;
    min-width: 8rem;
  }

  .workflow-item-details {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
  }

  .item-name.large-font {
    font-size: 1.5rem;
  }

  .item-icon {
    margin-right: 0.1rem;
  }

  .item-detail {
    flex-direction: row;
    font-size: small;
    font-weight: 200;
  }
  .no-workflow {
    font-weight: 200;
    font-size: xx-large;
    text-align: center;
    background-color: #e9ecef;
    padding: 4rem;
  }

  .no-workflow-container {
    text-align: center;
    width: 100%;
    background-color: #e9ecef;
    padding: 5rem;
  }
}

.workflow-list-item-status {
  max-width: 6rem !important;
  margin: 0;
  padding: 0;
}

.workflow-list-item-actions-header {
  min-width: 50px;
}

.workflow-list-item-actions {
  min-width: 50px;
  align-items: center;
  vertical-align: middle;
  margin: auto;
}

.workflow-list-item-description  {
  flex-grow: 1;
}

:host ::ng-deep {
  .p-dropdown {
    width: 14rem;
    font-weight: normal;
  }

  .workflow-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;

    a {
      color: black;
    }

    input {
      text-align: center;
    }
  }

  .workflow-description {
    margin: 0 0 1rem 0;
  }

  .workflow-category-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  .workflow-category {
    font-weight: 600;
    vertical-align: middle;
  }

  .p-dataview-layout-options {
    display: inline-block;
  }

  .workflow-list-item-header {
    display: flex;
    align-items: center;
    padding: 1rem 0 0;
    width: calc(100% - 50px);
  }

  .workflow-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: calc(100% - 50px);
    min-height: 14rem;

    .workflow-list-item-status {
    }

    .workflow-list-item-visibility {
      text-align: center;
      img {
        width: 100px !important;
        height: auto !important;
      }

      i {
        // padding: 2rem;
      }
    }

    .workflow-list-item-type {
      text-align: center;
      img {
        width: 3rem;
      }

      i {
        padding: 2rem;
      }
    }

    .workflow-list-item-version-selector {
      text-align: center;
    }

    .workflow-list-item-service-type {
      text-align: center;
      img {
        width: 100px !important;
        height: auto !important;
      }

      i {
        padding: 2rem;
      }
    }

    .workflow-name {
      a {
        color: black;
      }

      input {
        text-align: left;
      }
    }

    .workflow-list-item-suites-chart {
      // width: 8rem;
      margin: auto;
      text-align: center;
    }

    .workflow-list-item-builds-chart {
      // width: 18rem;
      margin: auto;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    .workflow-list-detail {
      flex: 1 1 0;
    }
  }

  .workflow-grid-item {
    margin: 0.5em;
    border: 1px solid #dee2e6;

    .workflow-grid-item-top {
      display: flex;
      margin: auto;
      width: max-content;
      text-align: right;
      padding: 1rem;
      position: absolute;
      right: 10px;
    }

    .workflow-grid-item-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .workflow-grid-item-engine {
      .workflow-grid-item-engine-type {
        img {
          width: 100px !important;
          height: auto !important;
        }
      }
    }

    .workflow-grid-item-section {
      margin-top: 2rem;
    }

    .workflow-grid-item-section-label {
      font-size: 1rem;
    }

    .workflow-grid-item-type {
      img {
        width: 60px !important;
        height: auto !important;
      }
    }

    .workflow-grid-item-visibility {
      // margin-top: 2rem;
    }

    .workflow-grid-item-edit-action {
      text-align: right;
      align-items: right;
    }

    .workflow-grid-item-bottom {
      margin: auto;
      padding: 2rem;
      width: 100%;

      button {
        margin: auto;
      }
    }

    .workflow-grid-item-status {
      margin-top: 2rem;
      // margin: 0;
      // padding: 0;
      // max-width: 0.5rem;
    }

    .workflow-grid-item-instances {
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-size: larger;
      padding: 1rem;
    }

    .workflow-grid-item-suites-chart {
      width: 10rem;
      margin: 0.5rem auto;
    }

    .workflow-grid-item-builds {
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-size: larger;
      padding: 1rem;
    }

    .workflow-grid-item-builds-chart {
      width: 18rem;
      margin: 0.5rem auto;
    }

    img {
      width: 100px !important;
    }

    .workflow-grid-item-content {
      text-align: center;
    }

    .item-grid-item-bottom {
      margin: auto;
      padding: 4rem;
      width: 100%;
      text-align: center;

      button {
        margin: auto;
      }
    }
  }
}
