<app-loader [enabled]="!user || !user.picture"></app-loader>

<div class="wrapper" style="background: #f4f6f9;">
  <app-input-dialog></app-input-dialog>

  <app-header (toggleMenuSidebar)="toggleMenuSidebar()"></app-header>

  <!--<app-menu-sidebar
    (mainSidebarHeight)="mainSidebarHeight($event)"
  ></app-menu-sidebar>-->

  <div #contentWrapper class="content-wrapper" >
    <router-outlet></router-outlet>
  </div>

  <!--<aside class="control-sidebar control-sidebar-dark"></aside>
  <div id="sidebar-overlay" (click)="toggleMenuSidebar()"></div>-->

  <app-footer></app-footer>
</div>
