.dropdown {
  .nav-link {
    cursor: pointer;
  }
}

a.text-muted:hover {
  color: #6c757d !important;
}

a.trash-notification {
  color: black !important;
}

.dropdown-item {
  white-space: normal;
  padding: 10px 20px 10px 15px;
  font-size: 10pt;
}
