<li class="nav-item dropdown" *ngIf="notifications && notifications.length > 0">
  <a
    class="nav-link"
    data-html="true"
    data-toggle="dropdown"
    (click)="toggleDropdownMenu()"
  >
    <i class="far fa-bell"></i>
    <span
      *ngIf="notificationsToRead.length > 0"
      class="badge badge-warning navbar-badge text-bold"
    >
      {{ notificationsToRead.length }}
    </span>
  </a>
  <div #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <div style="max-height: 200px; overflow-y: scroll;">
      <ng-container *ngFor="let nd of notificationDates">
        <div class="text-center text-muted mt-2" style="font-size: 9pt">
          <span class="text-bold">{{ nd | date: 'fullDate' }}</span>
        </div>
        <div class="dropdown-divider"></div>
        <ng-container
          *ngFor="
            let n of getNotificationOfDay(nd)
              | sortingNotificationFilter: 'desc';
            index as i;
            first as isFirst
          "
          class="w-100"
        >
          <a
            class="dropdown-item {{ n.read ? 'text-muted' : '' }}"
            style="{{ n.read ? 'opacity: 60%;' : '' }}"
            (click)="readNotification(n)"
          >
            <div
              class="w-100 mt-2 {{
                n.read
                  ? 'text-muted'
                  : n.event === 'BUILD_FAILED'
                  ? 'text-red'
                  : 'text-primary'
              }}"
            >
              <i class="{{ n.icon }} mr-1"></i>
              Test instance
              <span class="text-bold"> {{ n.data.build.instance.name }} </span>
              <span *ngIf="n.event === 'BUILD_FAILED'">is failing</span>
              <span *ngIf="n.event === 'BUILD_RECOVERED'">has recovered</span>
            </div>
            <div class="text-small mx-4" style="font-size: 9pt; color: black;">
              <div style="overflow: hidden; text-overflow: ellipsis;">
                <span class="text-bold mt-n2">
                  build #{{ n.data.build.build_id }}:
                </span>
                {{ formatTimestamp(n.data.build.timestamp) }}
              </div>
              <div style="overflow: hidden; text-overflow: ellipsis;">
                <span class="text-bold mt-n2">suite: </span>
                {{ n.data.build.suite.name }}
              </div>
              <div style="overflow: hidden; text-overflow: ellipsis;">
                <span class="text-bold mt-n2">workflow: </span>
                <span>
                {{ n.data.build.workflow.name }}
                </span>
              </div>
              <a
                class="trash-notification"
                (click)="deleteNotitification(n)"
                title="click to delete"
              >
                <div class="float-right mt-n1 p-0 mr-n3">
                  <i class="far fa-trash-alt"></i>
                </div>
              </a>
            </div>
          </a>
        </ng-container>
      </ng-container>
    </div>
    <!--<div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item">
      <i class="fas fa-file mr-2"></i> 3 new reports
      <span class="float-right text-muted text-sm">2 days</span>
    </a>-->
    <!--<div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item dropdown-footer">
      Mark as read all {{ !notifications ? 0 : notifications.length }} notifications
    </a>-->
    <div class="dropdown-divider"></div>
    <a class="dropdown-item dropdown-footer" (click)="deleteAllNotifications()">
      <i class="fas fa-trash-alt mr-1"></i>
      Clear all notifications ({{ !notifications ? 0 : notifications.length }})
    </a>
  </div>
</li>
