<li class="nav-item dropdown" *ngIf="notifications">
  <a class="nav-link" data-html="true" data-toggle="dropdown" (click)="toggleDropdownMenu()">
    <i class="far fa-bell"></i>
    <span *ngIf="notificationsToRead.length > 0" class="badge badge-warning navbar-badge text-bold">
      {{ notificationsToRead.length }}
    </span>
  </a>
  <div #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <div style="max-height: 200px; overflow-y: scroll">
      <ng-container *ngFor="let nd of notificationDates">
        <div class="text-center text-muted mt-2" style="font-size: 9pt">
          <span class="text-bold">{{ nd | date: 'fullDate' }}</span>
        </div>
        <div class="dropdown-divider"></div>
        <ng-container *ngFor="
            let n of getNotificationOfDay(nd)
              | sortingNotificationFilter: 'desc';
            index as i;
            first as isFirst
          " class="w-100">
          <div class="dropdown-item {{ n.read ? 'text-muted' : '' }}" style="{{ n.read ? 'opacity: 60%;' : '' }}">
            <div *ngIf="n.event === 'UNCONFIGURED_EMAIL'" class="dropdown-item-content row">
              <div class="col-11" (click)="readNotification(n)">
                <div class="row">
                  <div class="col-1">
                    <i class="{{ n.icon }} mr-1" style="color: {{ n.color }}"></i>
                  </div>
                  <div class="col-10">
                    No email address configured to receive notifications
                  </div>
                </div>
              </div>
              <div class="col-1">
                <a class="trash-notification" (click)="deleteNotitification(n)" title="click to delete">
                  <i class="far fa-trash-alt"></i>
                </a>
              </div>
            </div>

            <!-- Render GITHUB_WORKFLOW_VERSION notifications-->
            <div class="dropdown-item-content" *ngIf="n.event === 'GITHUB_WORKFLOW_VERSION'">
              <div class="row {{
                  n.read
                    ? 'text-muted'
                    : ''
                }}" (click)="readNotification(n)">
                <div class="col-1" [ngStyle]="{'color': n.color}">
                  <i class="{{ n.icon }}" style="margin: 2px;"></i>
                </div>
                <div class="col-10">
                  <div class="mb-1">
                    Github workflow version {{n.data.action}}
                  </div>
                </div>
                <div class="col-1">
                  <a class="trash-notification" (click)="deleteNotitification(n)" title="click to delete">
                    <i class="far fa-trash-alt"></i>
                  </a>
                </div>
                <div class="offset-1 col-11 text-small {{ n.read ? 'text-muted' : '' }}"
                  style="font-size: 9pt; color: black">
                  <div class="row">
                    <div class="col-3 text-bold">repo:</div>
                    <div class="col-9">{{ n.data.repository.full_name }}</div>
                  </div>
                  <div class="row">
                    <div class="col-3 text-bold">version:</div>
                    <div class="col-9">{{ n.data.workflow_version.version.version }}</div>
                  </div>
                  <div class="row">
                    <div class="col-3 text-bold">name:</div>
                    <div class="col-9">{{ n.data.workflow_version.name }}</div>
                  </div>
                  <div class="row">
                    <div class="col-3 text-bold">uuid:</div>
                    <div class="col-9">{{ n.data.workflow_version.uuid }}</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Render notifications for BUILD_FAILED and BUILD_RECOVERED events -->
            <div class="dropdown-item-content" *ngIf="n.event === 'BUILD_FAILED' || n.event === 'BUILD_RECOVERED'">
              <div class="row {{
                  n.read
                    ? 'text-muted'
                    : n.event === 'BUILD_FAILED'
                    ? 'text-red'
                    : 'text-primary'
                }}" (click)="readNotification(n)">
                <div class="col-1">
                  <i class="{{ n.icon }}"></i>
                </div>
                <div class="col-10">
                  Test instance
                  <span class="text-bold">
                    {{ n.data.build.instance.name }}
                  </span>
                  <span *ngIf="n.event === 'BUILD_FAILED'">is failing</span>
                  <span *ngIf="n.event === 'BUILD_RECOVERED'">has recovered</span>
                </div>
                <div class="col-1">
                  <a class="trash-notification" (click)="deleteNotitification(n)" title="click to delete">
                    <i class="far fa-trash-alt"></i>
                  </a>
                </div>
                <div class="offset-1 col-11 text-small {{ n.read ? 'text-muted' : '' }}"
                  style="font-size: 9pt; color: black">
                  <div>
                    <span class="text-bold">build: </span>
                    <span>#{{ n.data.build.build_id }}</span>
                  </div>
                  <div>
                    <span class="text-bold">suite: </span>
                    <span>{{ n.data.build.suite.name }}</span>
                  </div>
                  <div>
                    <span class="text-bold">start time: </span>
                    <span>{{ formatTimestamp(n.data.build.timestamp) }}</span>
                  </div>
                  <div class="row">
                    <div class="col-3 text-bold">workflow:</div>
                    <div class="col-9">{{ n.data.build.workflow.name }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <!--<div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item">
      <i class="fas fa-file mr-2"></i> 3 new reports
      <span class="float-right text-muted text-sm">2 days</span>
    </a>-->
    <!--<div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item dropdown-footer">
      Mark as read all {{ !notifications ? 0 : notifications.length }} notifications
    </a>-->
    <div *ngIf="notifications && notifications.length > 0" class="dropdown-divider"></div>
    <a *ngIf="notifications && notifications.length > 0" class="dropdown-item dropdown-footer"
      (click)="deleteAllNotifications()">
      <i class="fas fa-trash-alt mr-1"></i> Clear all notifications ({{ !notifications ? 0 : notifications.length
      }})
    </a>
    <div *ngIf="notifications && notifications.length == 0" class="dropdown-item dropdown-footer">
      No notifications found
    </div>
  </div>
</li>
