<app-loader [enabled]="!suite"></app-loader>

<div *ngIf="suite">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"></h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right mr-lg-4 mr-md-2">
            <li class="breadcrumb-item">
              <a [routerLink]="['/dashboard']"><i class="fas fa-home p-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item active">
              <a [routerLink]="['/workflow', { uuid: suite.workflow.uuid, version: suite.workflow.version['version'] }]">
                <i class="fas fa-cogs p-1"></i>Workflow
              </a>
            </li>
            <li class="breadcrumb-item active">
              <div class="d-inline" style="margin-top: 0.5px">
                <i class="fas fa-cubes p-1"></i>
              </div>
              Suite
            </li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- /.workflow header -->
      <workflow-header [workflow]="suite.workflow" [suite]="suite"></workflow-header>
      <!-- /.workflow header -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <section *ngIf="suite.workflow" class="content mx-lg-4 p-2">
    <div *ngIf="suite.workflow && suite.workflow.suites" class="mt-5">
      <h3 style="color: var(--primary)">Test instances</h3>
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-primary" (click)="filterByStatus('passed')" data-toggle="tooltip"
            data-placement="bottom" data-html="true"
            title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to filter builds in <b>passing</b> status</span>">
            <div *ngIf="!suite.instances" class="overlay dark">
              <i class="fas fa-3x fa-sync-alt"></i>
            </div>
            <div *ngIf="suite.instances && statusFilter && statusFilter != 'passed'" class="overlay dark"></div>
            <div class="inner">
              <h3>
                {{ suite.instances ? suite.instances.passed.length : 0 }}
              </h3>
              <p>Passed</p>
            </div>
            <div class="icon">
              <i class="fa fa-thumbs-up"></i>
            </div>
            <div class="small-box-footer" style="height: 22px">
              <div style="display: inline-block; padding: 0"></div>
              <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-warning" (click)="filterByStatus('error')" data-toggle="tooltip"
            data-placement="bottom" data-html="true"
            title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to filter builds in <b>error</b> status</span>">
            <div *ngIf="!suite.instances" class="overlay dark">
              <i class="fas fa-3x fa-sync-alt"></i>
            </div>
            <div *ngIf="suite.instances && statusFilter && statusFilter != 'error'" class="overlay dark"></div>
            <div class="inner">
              <h3>
                {{ suite.instances ? suite.instances.error.length : 0 }}
              </h3>
              <p>Error</p>
            </div>
            <div class="icon">
              <i class="fas fa-bug"></i>
            </div>
            <div class="small-box-footer" style="height: 22px">
              <div style="display: inline-block; padding: 0"></div>
              <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-danger" (click)="filterByStatus('failed')" data-toggle="tooltip"
            data-placement="bottom" data-html="true"
            title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to filter builds in <b>failed</b> status</span>">
            <div *ngIf="!suite.instances" class="overlay dark">
              <i class="fas fa-3x fa-sync-alt"></i>
            </div>
            <div *ngIf="
                suite.instances && statusFilter && statusFilter != 'failed'
              " class="overlay dark"></div>
            <div class="inner">
              <h3>
                {{ suite.instances ? suite.instances.failed.length : 0 }}
              </h3>
              <p>Failed</p>
            </div>
            <div class="icon">
              <i class="fa fa-thumbs-down"></i>
            </div>
            <div class="small-box-footer" style="height: 22px">
              <div style="display: inline-block; padding: 0"></div>
              <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
            </div>
          </div>
        </div>
        <!-- ./col -->

        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-orange" (click)="filterByStatus('waiting')" data-toggle="tooltip"
            data-placement="bottom" data-html="true"
            title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to filter builds in <b>waiting</b> status</span>">
            <div *ngIf="!suite.instances" class="overlay dark">
              <i class="fas fa-3x fa-sync-alt"></i>
            </div>
            <div *ngIf="
                suite.instances && statusFilter && statusFilter != 'waiting'
              " class="overlay dark"></div>
            <div class="inner">
              <h3>
                {{ suite.instances ? suite.instances.waiting.length : 0 }}
              </h3>

              <p>Waiting</p>
            </div>
            <div class="icon">
              <i class="fas fa-pause"></i>
            </div>
            <div class="small-box-footer" style="height: 22px">
              <div style="display: inline-block; padding: 0"></div>
              <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
            </div>
          </div>
        </div>
        <!-- ./col -->

        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-cyan" (click)="filterByStatus('running')" data-toggle="tooltip"
            data-placement="bottom" data-html="true"
            title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to filter builds in <b>running</b> status</span>">
            <div *ngIf="!suite.instances" class="overlay dark">
              <i class="fas fa-3x fa-sync-alt"></i>
            </div>
            <div *ngIf="
                suite.instances && statusFilter && statusFilter != 'running'
              " class="overlay dark"></div>
            <div class="inner">
              <h3>
                {{ suite.instances ? suite.instances.running.length : 0 }}
              </h3>

              <p>Running</p>
            </div>
            <div class="icon">
              <i class="fas fa-sync"></i>
            </div>
            <div class="small-box-footer" style="height: 22px">
              <div style="display: inline-block; padding: 0"></div>
              <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
            </div>
          </div>
        </div>
        <!-- ./col -->

        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-gray" (click)="filterByStatus('aborted')" data-toggle="tooltip"
            data-placement="bottom" data-html="true"
            title="<span class='text-xs'><i class='fas fa-question-circle mx-1'></i> click to filter builds in <b>aborted</b> status</span>">
            <div *ngIf="!suite.instances" class="overlay dark">
              <i class="fas fa-3x fa-sync-alt"></i>
            </div>
            <div *ngIf="
                suite.instances && statusFilter && statusFilter != 'aborted'
              " class="overlay dark"></div>
            <div class="inner">
              <h3>
                {{ suite.instances ? suite.instances.aborted.length : 0 }}
              </h3>

              <p>Aborted</p>
            </div>
            <div class="icon">
              <i class="fas fa-ban"></i>
            </div>
            <div class="small-box-footer" style="height: 22px">
              <div style="display: inline-block; padding: 0"></div>
              <!-- More info <i class="fas fa-arrow-circle-right"></i> -->
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
    </div>

    <!-- Search Bar -->
    <item-search-bar elementType="instances"
          [(filterValue)]="instanceNameFilter"
          [(sortingOrder)]="instanceSortingOrder"></item-search-bar>

    <test-instances [workflow]="suite.workflow" [testInstances]="
        instances
          | itemFilterPipe: instanceNameFilter
          | sortingFilter: instanceSortingOrder
      "></test-instances>
  </section>
</div>
